@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container pt-4 pb-4">
    <h1>@Umbraco.Field("articleTitle")</h1>
    @Umbraco.RenderMacro("listArticles")
</div>